@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

@mixin box-shadow($top, $left, $blur, $opacity) {
  -webkit-box-shadow: $top $left $blur rgba(0, 0, 0, $opacity);
  -moz-box-shadow: $top $left $blur rgba(0, 0, 0, $opacity);
  box-shadow: $top $left $blur rgba(0, 0, 0, $opacity);
}
